.column {
  flex: 1;
}

.avatar {
  display: block;
  margin: 20px auto;
  width: 20%;
  height: auto;
  border-radius: 50%;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-height: 400px;
}

.cardContainer {
  flex: 2;
  background: #fff;
  padding: 20px;
  /* 01 dp */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.drop {
  background: lavender;
}
