.topBar {
  width: 100%;
  height: 70px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topBarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 75px;
  height: 65px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.topAvatar {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
