.box {
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../background.png");
  background-size: cover;
}

.box::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.596);
}

.cardContainer {
  min-width: 500px;
  width: 25vw;
  height: 50vh;
  flex: 1;
  background: #fff;
  padding: 20px;
  /* 01 dp */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}
